@import url('fonts.css');
@import url('intro/css/intro.css');

header{
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

footer{
    width: 100%;
}

.fixed {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
}

#intro-container{
    width: 100%;
    height: 1000px;
}

.objective-title, .process-title, .delivery-title{
    color: #949493;
}

img.logo{
    width: 95px;
    height: 65px;
}

div.navbar-position img.logo{
    margin-top: 7px;
}

.novium-title{
    margin-left: 10px;
    display: inline-block;
}

.navbar-position{
    position: absolute;
    height: 80px;
}

nav{
    margin-top: 2%;
}

.header-container{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #fff;
}

.navbar-buttons{
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    height: 80px;
}

.nav-content{
    width: 1000px;
}

ul{
    display: flex;
    display: -webkit-flex;
    list-style-type: none;
}

li a{
    display: flex;
    display: -webkit-flex;
    color:#949493;
    text-decoration: none;
}

.carousel-container{
    background-image: url(images/carousel-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 36.25em;
    width: 100%;
}

.who-we-are-container{
    width: 100%;
    height: 40em;
}

.who-we-are-content{
    max-width: 770px;
    margin: 0 auto;
}

.border-box-wwa{
    border-bottom: solid 1px;
    width: 130px;
    border-color: #a3d55d;
    padding-top: 10px;
    margin-bottom: 70px;
    text-align: center;
    line-height: 10px;
}

.who-we-are-content-flex{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.objectives-box, .process-box, .delivery-box{
    text-align: center;
}

.objectives-box p, .process-box p, .delivery-box p{
    text-align: left;
}

.process-img{
    max-width: 142px;
    height: 130.5px;
}

.objective-img{
    max-width: 142px;
    height: 129px;
}

.delivery-img{
    max-width: 190.5px;
    height: 131px;
}

.objective-title, .process-title, .delivery-title{
    margin-top: 55px;
    margin-bottom: 30px;
}

.who-we-are-title-logo-flex{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.who-we-are-title{
    color: #949493;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 10px;
}

.text-who-we-are-line-height{
    line-height: 0.9;
    max-width: 180px;
}

.text-center{
    margin: 0 auto;
}

.grey-color{
    color: #949493;
}

.white-color-services{
    color: #fff;
    height: 40px;
}

.services-container{
    width: 100%;
    background-color: #a3d55d;
    height: 780px;
}

.services-content{
    max-width: 1000px;
    margin: 0 auto;
}

.border-box-services{
    border-bottom: solid 1px;
    width: 95px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-color: #fff;
    line-height: 25px;
}

h2.border-box-services{
    line-height: 10px;
}

.services-title{
    margin-bottom: 50px;
}

.logo-services{
    max-width: 95px;
    height: 65px;
    margin-top: 55px;
    margin-bottom: 30px;
}

.services-logo-title-flex{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ideation-col-flex{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.coding-col-flex{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.creative-col-flex{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.hosting-col-flex{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.ideation-creative-flex{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.coding-hosting-flex{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.ideation-img{
    margin: 0 auto;
    margin-top: 20px;
    max-width: 58px;
    height: 100px;
}

.creative-img{
    margin: 0 auto;
    margin-top: 20px;
    max-width: 100px;
    height: 100px;
}

.inline{
    display: inline;
}

.hosting-title, .coding-title,.ideation-title,.creative-title {
    text-align: center;
    padding-top: 20px;
}

.text-col-wid{
  width: 390px;
}

.text-col-wid p{
    color: white;
    margin-top: 10px;
}

.coding-img, .hosting-img{
    max-width: 135px;
    height: 80px;
    margin: 0 auto;
}

.projects-container{
    max-width: 100%;
    height: 800px;
    background-image: url('images/projects-background-img.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.projects-content{
    max-width: 900px;
    margin: 0 auto;
}

.logo-projects{
    margin-top: 60px;
}

.border-box-projects{
    border-bottom: solid 1px;
    max-width: 120px;
    border-color: #fff;
    text-align: center;
    line-height: 10px;
}

.projects-title{
    margin-top: 30px;
}

.inline-block{
    display: inline-block;
}

.project1-text{
    max-width: 180px;
    text-align: left;
}

.project3-text{
    max-width: 180px;
    text-align: left;
    margin-left: 20px;
}

.project2-text{
    max-width: 180px;
    text-align: left;
}

.projects-content-flex{
    display: -webkit-flex;
    display: flex;
    align-items: space-between;
    justify-content: center;
    margin-top: 80px;
}

.projects-logo-title-flex{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project1-marg{
    padding-right: 85px;
}

.project3-marg{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    padding-left: 85px;
}

img.project1-img{
    display: -webkit-flex;
    display: flex;
    max-width: 180px;
    height: 155px;
    margin-right: 30px;
}

img.project2-img{
    display: -webkit-flex;
    display: flex;
    margin: 0 auto;
    max-width: 180px;
    height: 155px;

}

img.project3-img{
    display: -webkit-flex;
    display: flex;
    margin: 0 auto;
    max-width: 180px;
    height: 155px;
    margin-left: 30px;
}

.project1-title{
    text-align: center;
    margin-top: 50px;
    margin-right: 20px;
}

.project2-title{
    text-align: center;
    margin-top: 50px;
}

.project3-title{
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
}

.flex-text{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}

.case-study-container{
    width: 100%;
    height: 740px;
}

.case-study-content{
    margin: 0 auto;
    max-width: 1000px;
    height: 707.5px;
}

.border-box-case-study{
    border-bottom: solid 1px;
    width: 140px;
    border-color: #a3d55d;
    margin-bottom: 70px;
    text-align: center;
    line-height: 10px;
}

.case-study-title{
    padding-top: 40px;
    color: #949493;
    margin-bottom: 10px;
}

.case-study-title-logo-flex{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.boxes-flex{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    width: 100%;
}

#box1, #box2, #box3{
    cursor: pointer;
    width: 200px;
    height: 180px;
    background-color: #949493;
    margin-right: 45px;
    margin-left: 45px;
}

div.target1{
    border: 3px solid #a3d55d;
    height: 180px;
}

div.target2, div.target3{
    border: 3px solid #a3d55d;
    height: 180px;
    display: none;
}

.case-study-title-marg{
    margin-left: 45px;
    margin-top: 5px;
    margin-bottom: 0;
}

.case-study-text-marg{
    margin-left: 45px;
    margin-top: 0;
    margin-bottom: 0;
}

.click-mess1{
    display: none;
}

.click-mess1, .click-mess2, .click-mess3{
    max-width: 225px;
    margin-top: 20px;
    margin-right: 20px;
    color: #949493;
    cursor: pointer;
}

.quote-text1, .quote-text2, .quote-text3{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 550px;
    margin-top: 60px;
}

.selector1{
    display: block;
    margin: 0 auto;
    margin-top: 55px;
}

.selector2{
    display: none;
    margin: 0 auto;
    margin-top: 55px;
}

.selector3{
    display: none;
    margin: 0 auto;
    margin-top: 55px;
}

p.text-center{
    text-align: center;
}

.mess-text2, .mess-text3{
    display: none;
}

.center-block{
    text-align: center;
    margin-bottom: 30px;
}

.footer-container{
    width: 100%;
    background-color: #949493;
}

.footer-content{
    margin: 0 auto;
    max-width: 1000px;
}
.footer-background{
    display: -webkit-flex;
    display: flex;
    height: 135px;
    background-color: #949493;
}

.footer-logos{
    margin-left: auto;
    margin-right: 10px;
    margin-top: auto;
}

.footer-lebanon{
    max-width: 250px;
    margin-left: 5px;
    padding-top: 20px;
}

.footer-Dubai{
    max-width: 250px;
    margin: 0 auto;
    padding-top: 20px;
}

.linkedin{
    padding-right: 3px;
}

.facebook{
    padding-left: 3px;
}

.logo-linkedin, .logo-facebook, .logo-twitter{
    height: 30px;
}

@media only screen and (min-device-width : 420px){
/* Styles */
.footer-background{

    }
}


